@media (max-width: 1024px) {
  .form__input {
    width: 100%;
  }
}

@media (max-width: 992px) {
  /*header*/

  .header__nav {
    display: none;
  }

  .header__btn {
    margin-right: 7px;
    padding: 12px 35px;
  }

  .burger {
    display: block;
    position: relative;
    padding: 8px;
    width: 40px;
    height: 40px;
    border: 1px solid currentColor;
    border-radius: 3px;
    color: #3172B9;
  }

  .burger__line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 8px * 2);
    height: 2px;
    border-radius: inherit;
    background-color: currentColor;
  }

  .burger__line:first-child {
    top: 13px;
  }

  .burger__line:nth-child(2) {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .burger__line:last-child {
    bottom: 13px;
  }

  /*hero*/

  .hero__content {
    width: 75%;
  }

  /*services*/

  .services__list {
    flex-wrap: wrap;
  }

  .services__item {
    margin-bottom: var(--gap);
    width: calc((100% - var(--gap)) / 2);
  }

  .services__item:not(:nth-child(4n)) {
    margin-right: 0;
  }

  .services__item:not(:nth-child(even)) {
    margin-right: var(--gap);
  }

  /*articles*/

  .articles__article,
  .articles__link {
    height: 100%;
  }

  /*clients*/

  .clients__item {
    padding: 20px;
  }

  /*join-us*/

  .join-us__container {
    padding: 0 15px;
  }

  /*footer*/

  .footer__container {
    flex-direction: column;
  }

  .footer__left {
    margin-bottom: var(--gap);
  }
}

@media (max-width: 768px) {
  /*articles*/

  .articles__link {
    flex-direction: column;
  }

  /*clients*/

  .clients__list {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .clients__item:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .clients__item {
    margin: 0 0 var(--gap);
    width: calc((100% - var(--gap)) / 2);
  }

  /*footer*/

  .footer .nav__item:not(:last-child) {
    margin: 0 15px 0 0;
  }

  .social__item:not(:last-child) {
    margin-right: 20px;
  }
}
