@media (max-width: 1024px) {
  .form__input {
    width: 100%;
  }
}

@media (max-width: 992px) {
  /*header*/

  .header__nav {
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px;
    width: 50%;
    min-width: 250px;
    height: 100vh;
    z-index: 2;
    box-shadow: 0 0 5px #888;
    background-color: #fff;
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(-120%);
    transition: visibility 0.3s ease-in-out,
                transform 0.3s ease-in-out;
  }

  .header__nav .nav__list {
    flex-direction: column;
  }

  .header__nav .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .nav__link {
    font-size: 18px;
  }

  .header__nav_active {
    visibility: visible;
    transform: none;
  }

  .burger_active .burger__line:nth-child(2) {
    opacity: 0;
  }

  .burger_active .burger__line:first-child {
    left: 25%;
    top: 50%;
    transform: rotate(45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out,
                top 0.3s ease-in-out,
                left 0.3s ease-in-out;
  }

  .burger_active .burger__line:last-child {
    left: 25%;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out,
    top 0.3s ease-in-out,
    left 0.3s ease-in-out;
  }

  .stop-scroll {
    overflow: hidden;
  }

  .header__btn {
    margin-right: 7px;
    padding: 12px 35px;
  }

  .burger {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid currentColor;
    border-radius: 3px;
    color: #3172B9;
  }

  .burger__line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 8px * 2);
    height: 2px;
    border-radius: inherit;
    background-color: currentColor;
  }

  .burger__line:first-child {
    top: 13px;
  }

  .burger__line:nth-child(2) {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .burger__line:last-child {
    bottom: 13px;
  }

  /*hero*/

  .hero__content {
    width: 75%;
  }

  /*services*/

  .services__list {
    flex-wrap: wrap;
  }

  .services__item {
    margin-bottom: var(--gap);
    width: calc((100% - var(--gap)) / 2);
  }

  .services__item:not(:nth-child(4n)) {
    margin-right: 0;
  }

  .services__item:not(:nth-child(even)) {
    margin-right: var(--gap);
  }

  /*clients*/

  .clients__item {
    padding: 20px;
  }

  /*join-us*/

  .join-us__container {
    padding: 0 15px;
  }

  /*footer*/

  .footer__container {
    flex-direction: column;
  }

  .footer__left {
    margin-bottom: var(--gap);
  }
}

@media (max-width: 768px) {
  /*articles*/

  .articles__link {
    flex-direction: column;
  }

  /*clients*/

  .clients__list {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .clients__item:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .clients__item {
    margin: 0 0 var(--gap);
    width: calc((100% - var(--gap)) / 2);
  }

  /*footer*/

  .footer .nav__item:not(:last-child) {
    margin: 0 15px 0 0;
  }

  .social__item:not(:last-child) {
    margin-right: 20px;
  }
}

@media (max-width: 576px) {

  /*global*/

  .body {
    overflow-x: hidden;
  }

  .section-offset {
    padding: 60px 0;
  }

  /*header*/

  .header__container {
    padding: 14px 17px;
  }

  .header__logo img {
    width: 80px;
  }

  .header__btn {
    padding: 10px 20px;
  }

  /*hero*/

  .hero {
    background: none;
  }

  .hero__content {
    padding: 19px 0 0;
    width: 100%;
  }

  .hero__title {
    margin: 0 0 15px;
  }

  .hero__descr {
    margin: 0 0 15px;
  }

  .hero__wrapper {
    width: 100%;
  }

  .hero__btn {
    padding: 19px 0;
    width: 100%;
  }

  /*services*/

  .services__title {
    margin: 0 0 15px;
    text-align: left;
  }

  .services__descr {
    margin: 0 0 37px;
    text-align: left
  }

  .services__list {
    justify-content: space-between;
    margin-bottom: -20px;
  }

  .services__item {
    margin: 0 0 20px;
    padding: 14px 15px;
    width: calc((100% - 16px) / 2);
    min-height: 222px;
  }

  .services__item:not(:nth-child(even)) {
    margin-right: 16px;
  }

  .services__icon {
    margin: 0 0 15px;
    height: 42px;
  }

  .services__item-title {
    margin: 0 0 3px;
    font-size: 16px;
  }

  .services__item-descr {
    font-size: 12px;
  }

  /*articles*/

  .articles__title {
    margin: 0 0 16px;
  }

  .articles__list {
    flex-flow: column wrap;
  }

  .articles__item {
    width: 100%;
    height: 191px;
  }

  .articles__item:nth-child(n + 3) {
    display: none;
  }

  .articles__item:nth-child(-n + 2) {
    margin-bottom: 0;
  }

  .articles__item:not(:last-child) {
    margin-bottom: 15px;
  }

  .articles__item.articles__item_visible {
    display: block;
  }

  .articles__btn {
    display: block;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }

  .articles__btn_hidden {
    display: none;
  }

  .articles__link {
    flex-direction: row;
  }

  .articles__icon {
    flex-shrink: 0;
    width: 86px;
  }

  .articles__wrapper-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 29px 0 15px;
  }

  .articles__text-time {
    margin-bottom: 4px;
  }

  .articles__text-title {
    margin: 0 0 3px;
  }

  /*clients*/

  .clients__title {
    margin: 0 0 15px;
  }

  .clients__list {
    margin-bottom: -15px;
    flex-flow: column nowrap;
  }

  .clients__item {
    margin: 0 0 15px;
    width: 100%;
  }

  .clients__user {
    padding: 29px 0 0 0;
  }

  .clients__name {
    margin-bottom: 3px;
    line-height: 1;
  }

  /*contacts*/

  .contacts__title {
    margin: 0 0 15px;
  }

  .contacts__list {
    flex-direction: column;
    justify-content: normal;
  }

  .contacts__item {
    padding-top: 40px;
    width: 100%;
  }

  .contacts__item:not(:nth-child(3n)) {
    margin: 0;
  }

  .contacts__item:not(:last-child) {
    margin-bottom: 32px;
  }

  .contacts__subtitle {
    margin: 0 0 13px;
  }

  /*join-us*/

  .join-us__title {
    margin: 0 0 14px;
    text-align: left;
  }

  .join-us__descr-desktop {
    display: none;
  }

  .join-us__descr-mobile {
    display: block;
    text-align: left;
  }

  .form__top {
    flex-direction: column;
    margin-bottom: 12px;
  }

  .form__left {
    margin-bottom: 15px;
    width: 100%;
  }

  .form__input:not(:last-child) {
    margin-bottom: 15px;
  }

  .form-item-states {
    padding: 15px 19px;
  }

  .form__right {
    width: 100%;
  }

  .form__textarea {
    min-height: 240px;
  }

  .form__bottom {
    justify-content: center;
  }

  .form__bottom-wrapper {
    width: 100%;
  }

  .form__btn {
    margin-bottom: 15px;
    width: 100%;
  }

  /*footer*/

  .footer__container {
    flex-direction: column-reverse;
    padding-top: 29px;
    padding-bottom: 13px;
  }

  .footer__right {
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .footer__nav {
    margin: 0 0 16px;
  }

  .footer__nav .nav__list {
    flex-wrap: wrap;
  }

  .footer .nav__item:not(:last-child) {
    margin: 0 30px 15px 0;
  }

  .footer .nav__link {
    font-size: 15px;
  }

  .social {
    justify-content: flex-start;
  }

  .social__item:not(:last-child) {
    margin-right: 32px;
  }

  .footer__left {
    flex-direction: column;
    margin-bottom: 0;
    width: 100%;
  }

  .footer__logo {
    align-self: flex-start;
    margin: 0 0 43px;
    width: 80px;
  }

  .footer__copyright {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
  }

  .footer__copyright::before {
    content: '';
    position: absolute;
    top: -17px;
    left: -15px;
    width: calc(100% + 30px);
    height: 1px;
    background-color: #c4c4c4;
  }
}
