@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
  url('/fonts/OpenSans-Regular.woff2') format('woff2');
  url('/fonts/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Light'), local('OpenSans-Light'),
  url('/fonts/OpenSans-Light.woff2') format('woff2');
  url('/fonts/OpenSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
  url('/fonts/OpenSans-SemiBold.woff2') format('woff2');
  url('/fonts/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

:root {
  --gap: 30px;
}

/*global*/

body {
  min-width: 320px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  position: relative;
  outline: none;
  border-radius: 3px;
  font: 600 15px / 20px 'Open Sans', sans-serif;
  color: #fff;
  text-transform: uppercase;
  background-color: #3172B9;
  transition: background-color 0.3s ease-in-out;
}

.btn::after {
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
  bottom: -3px;
  left: -3px;
  border: 1px solid #71A7E2;
  border-radius: inherit;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.btn:focus::after {
  opacity: 1;
}

.btn:hover {
  background-color: #71A7E2;
}

.btn:active {
  background-color: #0E3B6C;
}

.btn:active::after {
  border: none;
}

.flex {
  display: flex;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.section-title {
  font: 300 36px / 130% 'Open Sans', sans-serif;
  color: #1c1c1c;
}

.section-descr {
  text-align: center;
  font: 400 16px / 22px 'Open Sans', sans-serif;
  color: #787878;
}

.subsection-descr {
  font: 400 14px / 150% 'Open Sans', sans-serif;
  color: #787878;
}

.section-offset {
  padding: 76px 0 168px;
  border-bottom: 1px solid #dadada;
}

.subtitle {
  font: 600 20px / 130% 'Open Sans', sans-serif;
  color: #1c1c1c;
}

.subtitle-item {
  font: 600 17px / 180% 'Open Sans', sans-serif;
  color: #1c1c1c;
}

.nav__link {
  position: relative;
  font: 600 15px / 20px 'Open Sans', sans-serif;
  color: #1c1c1c;
  transition: color 0.3s ease-in-out;
}

.nav__link:focus {
  outline-offset: 2px;
  outline: 1px solid #71A7E2;
}

.nav__link:hover {
  color: #71A7E2;
}

.nav__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #3474BA;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.nav__link:active {
  outline: none;
  color: #3172B9;
}

.nav__link:active::after {
  opacity: 1;
}

/*header*/
.header {
  margin-bottom: 13px;
  border-bottom: 1px solid #c4c4c4;
  background-color: #fff;
}

.header__container {
  padding: 27px 16px;
  align-items: center;
}

.header__logo {
  margin-right: auto;
  padding-top: 7px;
}

.header__nav {
  margin-right: 52px;
}

.nav .nav__item:not(:last-child) {
  margin: 0 52px 0 0;
}

.header__btn {
  padding: 15px 35px;
}

.burger {
  display: none;
}

/*hero*/

.hero {
  background: url("/img/hero_bg-image.jpg") center center / cover no-repeat;
}

.hero__content {
  flex-direction: column;
  align-items: flex-start;
  padding: 101px 0 144px;
  width: 50%;
}

.hero__title {
  margin: 0 0 26px;
  font: 300 40px / 130% 'Open Sans', sans-serif;
}

.hero__descr {
  margin: 0 0 34px;
  max-width: 471px;
  font: 400 16px / 155% 'Open Sans', sans-serif;
  color: #787878;
}

.hero__wrapper {
  flex-direction: column;
  align-items: center;
}

.hero__btn {
  margin: 0 0 14px;
  padding: 20px 0;
  min-width: 250px;
}

.hero__secure {
  padding-left: 30px;
  font: 400 11px / 155% 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #787878;
  background: url("/img/guard-logo.svg") left center / contain no-repeat;
}

/*services*/

.services__title {
  margin: 0 0 21px;
  text-align: center;
}

.services__descr {
  margin: 0 0 54px;
}

.services__list {
  flex-flow: row wrap;
}

.services__item {
  flex-flow: column wrap;
  align-items: center;
  padding: 60px 30px;
  width: calc((100% - var(--gap) * 3) / 4);
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  overflow: hidden;
  transition: border-color 0.3s ease-in-out,
              background-color 0.3s ease-in-out;
}

.services__item:not(:nth-child(4n)) {
  margin-right: var(--gap);
}

.services__item:hover {
  border-color: #3172B9;
  background-color: #3172B9;
}

.services__item-descr {
  margin: 0;
  text-align: center;
  transition: color 0.3s ease-in-out;
}

.services__item:hover .services__item-descr {
  color: #fff;
}

.services__item-title {
  margin: 0 0 15px;
  text-align: center;
  transition: color 0.3s ease-in-out;
}

.services__item:hover .services__item-title {
  color: #fff;
}

.services__icon {
  display: inline-block;
  margin: 0 0 30px;
}

.services__icon-color {
  fill: #3172B9;
  transition: fill 0.3s ease-in-out;
}

.services__item:hover .services__icon-color {
  fill: #fff;
}

/*articles*/

.articles__title {
  margin: 0 0 42px;
}

.articles__list {
  flex-flow: row wrap;
}

.articles__item {
  font-size: 0;
  width: calc((100% - var(--gap)) / 2);
}

.articles__item:nth-child(-n+2) {
  margin-bottom: 27px;
}

.articles__item:not(:nth-child(2n)) {
  margin-right: var(--gap);
}

.articles__article {
  height: 100%;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  overflow: hidden;
}

.articles__link {
  height: 100%;
  transition: border-color 0.3s ease-in-out,
              background-color 0.3s ease-in-out;
}

.articles__link:focus {
  outline: none;
  border-color: #71A7E2;
  background-color: #71A7E2;
}

.articles__wrapper-text > * {
  transition: color 0.3s ease-in-out;
}

.articles__link:focus .articles__wrapper-text > * {
  color: #fff;
}

.articles__link:hover {
  border-color: #3172B9;
  background-color: #3172B9;
}

.articles__link:hover .articles__wrapper-text > * {
  color: #fff;
}

.articles__link:active {
  border-color: #0E3B6C;
  background-color: #0E3B6C;
}

.articles__link:active .articles__wrapper-text > * {
  color: #fff;
}

.articles__icon {
  object-fit: cover;
}

.articles__wrapper-text {
  padding: 20px var(--gap) var(--gap);
}

.articles__text-time {
  margin-bottom: 15px;
  font: 400 10px / 150% 'Open Sans', sans-serif;
  color: #787878;
}

.articles__text-title {
  margin: 0 0 15px;
}

.articles__text-descr {
  margin: 0;
  max-width: 210px;
}

/*clients*/

.clients__title {
  margin: 0 0 42px;
}

.clients__item {
  flex-direction: column;
  width: calc((100% - var(--gap) * 2) / 3);
  padding: 50px 36px var(--gap);
  border: 1px solid #e4e4e4;
  border-radius: 5px;
}

.clients__item:not(:nth-child(3n)) {
  margin-right: var(--gap);
}

.clients__descr {
  margin: 0 0 var(--gap);
  max-width: 281px;
  line-height: 180%;
}

.clients__user {
  align-items: center;
  width: 100%;
  margin-top: auto;
  padding: 31px 0 0 5px;
  border-top: 1px solid #dadada;
  font-size: 0;
}

.clients__avatar {
  flex-shrink: 0;
  width: 67px;
  margin: 0 17px 0 0;
}

.clients__icon {
  width: 100%;
  height: 100%;
  border: 2px solid #3172B9;
  border-radius: 100%;
}

.clients__name {
  margin: 0;
}

.clients__post {
  line-height: 180%;
}

/*contacts*/

.contacts__address {
  font-style: normal;
}

.contacts__title {
  margin: 0 0 110px;
}

.contacts__subtitle {
  margin: 0 0 30px;
}

.contacts__list {
  justify-content: space-around;
}

.contacts__item {
  flex-direction: column;
  width: calc((100% - var(--gap) * 2) / 3);
  padding-top: 50px;
  background-size: 29px 29px;
}

.contacts__item:not(:nth-child(3n)) {
  margin: 0 var(--gap) 0 0;
}

.contacts__item_visit-us {
  background: url("/img/location_on.svg") no-repeat left top;
}

.contacts__item_call-us {
  background: url("/img/phone.svg") no-repeat left top;
}

.contacts__item_email-us {
  background: url("/img/mail.svg") no-repeat left top;
}

.contacts__descr {
  align-self: flex-start;
  margin: 0;
  max-width: 214px;
}

.contacts__descr_link {
  transition: color 0.3s ease-in-out;
}

.contacts__descr_link:not(:last-child) {
  margin-bottom: 5px;
}

.contacts__descr_link:focus {
  outline: 1px solid #71A7E2;
}

.contacts__descr_link:hover {
  color: #71A7E2;
}

.contacts__descr_link:active {
  outline: none;
  color: #0E3B6C;
}

/*join-us*/

.join-us {
  padding-bottom: 122px;
}

.join-us__container {
  padding: 0 55px;
}

.join-us__title {
  margin: 0 0 21px;
  text-align: center;
}

.join-us__descr {
  margin: 0 0 30px;
}

.form__top {
  justify-content: space-between;
  margin-bottom: 19px;
}

.form__left {
  flex-flow: row wrap;
  justify-content: space-between;
  width: 49%;
}

.form__input {
  width: 251px;
  height: 60px;
}

.form__input:not(:last-child) {
  margin-bottom: 19px;
}

.form-item-states {
  padding: 15px 28px;
  font: 400 16px / 180% 'Open Sans', sans-serif;
  color: #787878;
  border-radius: 50px;
  border: 1px solid #dadada;
  transition: border-color 0.3s ease-in-out,
  background-color 0.3s ease-in-out,
  color 0.3s ease-in-out;
}

.form-item-states:focus {
  outline: none;
  border-color: #71A7E2;
  background-color: rgba(113, 167, 226, 0.2);
}

.form-item-states:hover {
  border-color: #71A7E2;
}

.form-item-states:active {
  border-color: #0E3B6C;
  color: #1C1C1C;
}

.form__right {
  width: 49%;
}

.form__textarea {
  width: 100%;
  height: 100%;
  resize: none;
  border-radius: 20px;
}

.form__bottom {
  justify-content: flex-end;
}

.form__bottom-wrapper {
  flex-direction: column;
  align-items: center;
}

.form__btn {
  margin-bottom: 9px;
  padding: 20px 67px;
  border-radius: 50px;
}

.form__checkbox {
  margin-right: 8px;
}

.form__agree-text {
  font: 400 12px / 16px 'Open Sans', sans-serif;
  color: #787878;
}

.form__agree-link {
  text-decoration: underline;
  color: #3172B9;
}

/*footer*/

.footer__container {
  justify-content: space-between;
  align-items: center;
  padding-top: 47px;
  padding-bottom: 47px;
}

.footer__left,
.footer__right {
  align-items: center;
}

.footer__logo {
  margin: 0 25px 0 0;
}

.footer .nav__item:not(:last-child) {
  margin: 0 30px 0 0;
}

.footer__copyright {
  font: 400 12px / 16px 'Open Sans', sans-serif;
  color: #787878;
}

.footer__nav {
  margin-right: 55px;
}

.nav__link_color {
  color: #787878;
}

.social__link {
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}

.social__link_linkedin svg,
.social__link_twitter svg {
  fill: #000;
  transition: fill 0.3s ease-in-out;
}

.social__link_mail svg {
  background-color: transparent;
  stroke: #000;
  transition: stroke 0.3s ease-in-out;
}

.social__link:focus {
  outline: 1px solid #71A7E2;
  outline-offset: 2px;
}

.social__link:hover svg{
  fill: #71A7E2;
}

.social__link_mail:hover svg {
  fill: transparent;
  stroke: #71A7E2;
}

.social__link:active {
  outline: none;
}

.social__link:active svg {
  fill: #3172B9;
}

.social__link_mail:active svg {
  fill: transparent;
  stroke: #3172B9;
}

.social__item:not(:last-child) {
  margin-right: 32px;
}
